<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina flex</title>
    <link rel="stylesheet" href="/cadastro.css">
</head>
<body>
     <h1>Hi Hitler</h1> 
     <div class="img-box">
          <img src="/licensed-image.webp" alt="Imagem histórica">
     </div>
<form action="" method="post">

<label for="nr_cnpj">CNPJ</label>
<input type="text" placeholder="Digite seu CNPJ">

<label for="nm_razaosocial">Razão social</label>
<input type="text" placeholder="Digite sua Razão social">

<label for="pais">País</label>
<input type="text" placeholder="Digite seu país">

<label for="email">Email</label>
<input type="text" placeholder="Coloque seu Email">

<button type="submit"> Cadastrar</button>
</form>

</body>
</html>